<div class="container">
  <h2>Payment Form</h2>
  <form class="col s12">

  <div class="row">
      <div class="input-field col s3">
        <input
          id="name2"
          type="text"
          class="validate"
          (input)="onNameChange($any($event.target).value)"
        />
        <label class="active" for="name2">Reciever Name:</label>
      </div>

      <div class="input-field col s3">
        <label class="active">Name:</label>
        <div>
          <b>{{ name | titlecase }}</b>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="input-field col s3">
        <input
          id="name2"
          type="date"
          class="validate"
          (input)="onDateChange($any($event.target).value)"
        />
        <label class="active" for="name2">Payment Date:</label>
      </div>

      <div class="input-field col s3">
        <label class="active">Date:</label>
        <div>
          <b>{{ date | date: 'longDate' }}</b>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="input-field col s3">
        <input
          id="name2"
          class="validate"
          (input)="onAmountChange($any($event.target).value)"
        />
        <label class="active" for="name2">Payment Amount:</label>
      </div>

      <div class="input-field col s3">
        <label class="active">Amount:</label>
        <div>
          <b>{{ amount | currency }}</b>
        </div>
      </div>
  </div>

</form>

</div>
